* {
    margin: 0px;
    padding: 0px;
}

/* Desktop */

@media only screen and (min-width: 601px) {

nav {
    width: 100%;
    display: flex;
    background-color: black;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin: 5vh;
    list-style-type: none;

}

.navlink {
    text-decoration: none;
    color: white;
}

.navlinkon {
    color: black;
    background-color: white;
    text-decoration: none;
    box-shadow: grey 0px 5px 5px
}

.navlink:hover {
    background-color: grey;
    color: black;
    box-shadow: grey 0px 5px 5px;
}

.navlinkon:hover {
    background-color: grey;
    color: black;
    box-shadow: none;
}

.maindiv {
    text-align: center;
}

h1 {
    margin: 2vh;
    margin-bottom: 10vh;
    }

.button {
    padding: 5vh;
    text-align: center;
    margin: 2vh;
    text-decoration: none;
    background-color: black;
    color: white;
    box-shadow: grey 5px 5px 5px;
}

.button:hover {
    border: black solid 2px;
    background-color: white;
    color: black;
    /* margin-top: 2vh; */
    box-shadow: grey 2px 2px 5px;
}

.button:active {
    border: black solid 2px;
    background-color: white;
    color: black;
    box-shadow: none;
}

.createform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 40vh;
    margin: 1vh;
    margin-left: 40%;
    padding: 1vh;
    padding-left: 2vh;
    border-radius: 25px;
    /* text-align: center; */
}

.submit {
    width: 40vh;
    margin: 1vh;
    margin-top: 2.5vh;
    margin-left: 40.5%;
    padding: 1vh;
    border-radius: 25px;
}

.container {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 64vh;
    padding: 3vh;
}
}


/* Mobile */


@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
        display: flex;
        background-color: black;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    li {
        margin: 5vh;
        list-style-type: none;
    
    }
    
    .navlink {
        text-decoration: none;
        color: white;
    }
    
    .navlinkon {
        color: black;
        background-color: white;
        text-decoration: none;
        box-shadow: grey 0px 5px 5px
    }
    
    .navlink:hover {
        background-color: grey;
        color: black;
        box-shadow: grey 0px 5px 5px;
    }
    
    .navlinkon:hover {
        background-color: grey;
        color: black;
        box-shadow: none;
    }
    
    .maindiv {
        text-align: center;
    }
    
    h1 {
        margin: 2vh;
        margin-bottom: 5vh;
        }
    
    .button {
        padding: 5vh;
        text-align: center;
        margin: 2vh;
        text-decoration: none;
        background-color: black;
        color: white;
        box-shadow: grey 5px 5px 5px;
    }
    
    .button:hover {
        border: black solid 2px;
        background-color: white;
        color: black;
        box-shadow: grey 2px 2px 5px;
    }
    
    .button:active {
        border: black solid 2px;
        background-color: white;
        color: black;
        box-shadow: none;
    }
    
    .createform {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    input {
        /* width: 40vh; */
        margin: 1vh;
        /* margin-left: 40%; */
        padding: 2vh;
        padding-left: 2vh;
        border-radius: 25px;
        /* text-align: center; */
    }
    
    .submit {
        /* width: 40vh; */
        margin: 1vh;
        margin-top: 2.5vh;
        /* margin-left: 40.5%; */
        padding: 2vh;
        border-radius: 25px;
    }
    
    .container {
        margin-left: 25%;
        margin-right: 25%;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
    }
}