* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "go3v2";
    src: url("/fonts/Belepotan-Normal.otf");
    }

    @font-face {
        font-family: "express";
        src: url("/fonts/express.ttf");
        }

/* Desktop */

@media only screen and (min-width: 601px) {

.mainlogo {
    width: 30vh;
    /* height: 5rem; */
    background-color: white;
}

.waterbg {
    background-image: url("/images/bgs/water.jpg");
    background-size: cover;
}

.earthbg {
    background-image: url("/images/bgs/earth.jpg");
    background-size: cover;
}

.firebg {
    background-image: url("/images/bgs/fire.png");
    background-size: cover;
}

.airbg {
    background-image: url("/images/bgs/air.jpg");
    background-size: cover;
}

.mainlogomain {
    width: 30vh;
    /* height: 5rem; */
    background-color: white;
    margin-top: 20vh;
}

.createbody {
    background-color: black;
}

nav {
    width: 100%;
    display: flex;
    background-color: black;
    box-shadow: 2px 2px 5px grey;
}

ul {
    display: flex;
    flex-direction: row;
}

#ABOUTyou {
    text-align: center;
    margin-top: 2vh;
}

li {
    margin: 5vh;
    list-style-type: none;
    font-family: 'express', helvetica;
}

.navlink {
    text-decoration: none;
    color: white;
}

.navlinkon {
    color: black;
    background-color: white;
    text-decoration: none;
    box-shadow: grey 0px 5px 5px
}

.navlink:hover {
    /* background-color: grey; */
    /* color: black; */
    box-shadow: grey 0px 5px 5px;
}

.navlinkon:hover {
    background-color: grey;
    color: black;
    box-shadow: none;
}

.maindiv {
    text-align: center;
}

h1 {
    margin: 2vh;
    /* margin-bottom: 10vh; */
    background-color: white;
    /* padding-top: 2vh; */
    font-family: 'go3v2', Helvetica;
    }

.h1chinese {
    margin-top: 0px;
    margin-bottom: 10vh;
}

.button {
    padding: 5vh;
    text-align: center;
    margin: 2vh;
    text-decoration: none;
    background-color: black;
    color: white;
    box-shadow: grey 5px 5px 5px;
    font-family: 'express', helvetica;
}

.button:hover {
    border: black solid 2px;
    background-color: white;
    color: black;
    /* margin-top: 2vh; */
    box-shadow: grey 2px 2px 5px;
}

.button:active {
    border: black solid 2px;
    background-color: white;
    color: black;
    box-shadow: none;
}

.createform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 40vh;
    margin: 1vh;
    margin-left: 40%;
    padding: 1vh;
    padding-left: 2vh;
    border-radius: 25px;
    /* text-align: center; */
    font-family: 'express', helvetica;
}

label {
    font-family: 'express', helvetica;
}

.submit {
    text-align: center;
    width: 40vh;
    margin: 1vh;
    margin-top: 2.5vh;
    margin-left: 40.5%;
    padding-left: 2vh;
    padding-right: 2vh;
    padding: 1vh;
    border-radius: 25px;
    font-family: 'express', helvetica;
    border: 2px black solid;
}

.container {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 64vh;
    /* padding: 3vh; */
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 13.5vh;
    flex-direction: column;
    /* text-align: center; */
}

.homeimage {
    
}

#aboutYOU {
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.elementlink {
    text-decoration: none;
    color: black;
    border: black solid 2px;
    padding: 5vh 0vh 5vh 0vh;
    margin: 2% 20% 0% 20%;
}
}


/* Mobile */


@media only screen and (max-width: 600px) {

    .mainlogo {
        width: 10vh;
        /* height: 5rem; */
        background-color: white;
        height: 10vh;
    }

    .mainlogomain {
        width: 30vh;
        /* height: 5rem; */
        background-color: white;
        margin-top: 2vh;
    }
    
    .createbody {
        background-color: black;
    }
    
    nav {
        width: 100%;
        display: flex;
        background-color: black;
    }

    .waterbg {
        background-image: url("/images/bgs/water.jpg");
        background-size: cover;
    }
    
    .earthbg {
        background-image: url("/images/bgs/earth.jpg");
        background-size: cover;
    }
    
    .firebg {
        background-image: url("/images/bgs/fire.png");
        background-size: cover;
    }
    
    .airbg {
        background-image: url("/images/bgs/air.jpg");
        background-size: cover;
    }

    #ABOUTyou {
        text-align: center;
        margin-top: 2vh;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    li {
        margin: 5vh;
        list-style-type: none;
        font-family: 'express', helvetica;
    }
    
    .navlink {
        text-decoration: none;
        color: white;
    }
    
    .navlinkon {
        color: black;
        background-color: white;
        text-decoration: none;
        box-shadow: grey 0px 5px 5px
    }
    
    .navlink:hover {
        background-color: grey;
        color: black;
        box-shadow: grey 0px 5px 5px;
    }
    
    .navlinkon:hover {
        background-color: grey;
        color: black;
        box-shadow: none;
    }
    
    .maindiv {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    h1 {
        margin: 2vh;
        /* margin-bottom: 5vh; */
        background-color: white;
        padding: 2vh;
        font-family: 'go3v2', helvetica;
        }

    .h1chinese {
        margin-top: 0px;
        margin-bottom: 6vh;
        }
    
    .button {
        padding: 5vh;
        text-align: center;
        margin: 2vh;
        text-decoration: none;
        background-color: black;
        color: white;
        box-shadow: grey 5px 5px 5px;
        font-family: 'express', helvetica;
    }
    
    .button:hover {
        border: black solid 2px;
        background-color: white;
        color: black;
        box-shadow: grey 2px 2px 5px;
    }
    
    .button:active {
        border: black solid 2px;
        background-color: white;
        color: black;
        box-shadow: none;
    }
    
    .createform {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    input {
        /* width: 40vh; */
        margin: 1vh;
        /* margin-left: 40%; */
        padding: 2vh;
        padding-left: 2vh;
        border-radius: 25px;
        /* text-align: center; */
        font-family: 'express', helvetica;
    }

    label {
        font-family: 'express', helvetica;
    }
    
    .submit {
        /* width: 40vh; */
        margin: 1vh;
        margin-top: 2.5vh;
        /* margin-left: 40.5%; */
        padding: 2vh;
        border-radius: 25px;
        font-family: 'express', helvetica;
        border: 2px black solid;
    }
    
    .container {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        padding: 2vh;
    }
}